<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Nailah DT403 MC Data Dashboard</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns'></script>
    <!-- Stylesheet connection -->
    <link rel='stylesheet' href='../static/dashboard_stylesheet.css'>
</head>

<body>



    <header>
        <div class='dashboard-title'>BP Machine Learning Task Performance Tracker</div>
    </header>


    <div class='container'>
        <section>
            <div class='chart-row'>
                <div class='chart-container'>

                    <h4>Task Status Pie Chart</h4>
                    <canvas id='StatusPieChart'></canvas>
                    <!-- Calling status pie chart from script-->
                    
                    <h4>Task Priority Pie Chart</h4>
                    <canvas id='PriorityPieChart'></canvas>
                    <!-- Calling priority pie chart from script-->
                    
                </div>

                <div class='chart-container'>

                    <h4>Task Accuracy per Week</h4>
                    <canvas id='WeekAccuracyLine'></canvas> 
                    <!-- Calling accuracy line chart from script-->
                    

                    <h4>Time Spent vs Accuracy Scatter Chart</h4>
                    <canvas id='TimeSpentAccuracyScatter'></canvas>
                    <!-- Calling time accuracy scatter chart from script-->

                </div>

                <div class='chart-container'>

                    <h4>Tasks per Member</h4>
                    <canvas id='TaskMemberBar'></canvas>
                    <!-- Calling task member count bar chart from script-->

                    <h4>Filters</h4>
                    <label for="accuracySlider">Minimum Accuracy:</label>
                    <input type="range" id="AccuracySlider" min="0.00" max="1.0" value="0.5" step="0.01">
                    <span id="AccuracyValue">0.5</span>
                    <!-- Slider filter for accuracy - setting the increments, base setting and style -->

                </div>
            </div>
        </section>
    </div>

    

    <footer>
        <div class='footer'> Module 2 Challenge - Nailah Ridwanah </div>
    </footer>
    
    <!-- Load our javascript -->
    <script src='../static/dashboard_script.js'></script>    

</body>

</html>
